<head>
  <style>
    .btn-cls {
        text-align:center;
    }
  </style>
</head>

<h2 style="text-align:center">Please log in to the Aggie Nickwork to view this page</h2>

<div class="btn-cls">
<a href=<%= user_google_oauth2_omniauth_authorize_path %> class="btn btn-primary" role="button">Sign in with Google</a>
</div>