<!DOCTYPE html>
<html>
  <head>

    <style>
    .pagination-centered {
        text-align: center;
    }

    noGap {
        margin-top: 0;
        padding-top: 0
    }

    </style>



  </head>



  <div class="row-fluid">
    <div class="homeImage noGap">

    <% # Displaying main image %>
    <%= image_tag ("https://nick-network.s3.us-east-2.amazonaws.com/grpPic.jpg"), class: "mx-auto d-block", width: "100%"%>
    </div>

    <% # Displaying mission statement %>
    <div class="span12 pagination-centered">
    <h3>
    We the Nicks of The Aggie Nickwork,
    </h3>
    <h3>
    In order to form a more perfect Nickwork,
    </h3>
    <h3>
    Establish justice, insure domestic tranquility,
    </h3>
    <h3>
    Provide for the common Nick, promote the general welfare,
    </h3>
    <h3>
    And secure the blessings of liberty to ourselves and our fellow Nicks,
    </h3>
    <h3>
    Do ordain and establish this Constitution for The Aggie Nickwork.
    </h3>
    </div>
  </div>

</html>
