
<% # Only ADMIN is allowed on this page %>

<center>
<h1>New Post</h1>

<% # Rendering news post comment form %>
<%= render 'form', news_post: @news_post %>

<% # Button to cancel new comment %>
<%= link_to 'Back', news_posts_path %>
</center>
