
<% # Check if the current user is the ADMIN %>
<% if current_user.uid == "110391296899575374577" %>
  <h1>Editing Event</h1>

  <% # Rendeting Editing form %>
  <%= render 'form', event: @event %>

  <% # Rendering buttons to cancel changes %>
  <center>
    <%= link_to '<button type="button"> Back </button>'.html_safe, @event %>
    <br>
  </center>
<% else %>
<% # If the user is not an ADMIN, redirect them back %>
  <center>
  <h1>You're not an admin!</h1>
  <%= link_to 'Back', events_path %>
  </center>
<% end %>
