<header>

    <% # Displaying container with Home, Events, Meetings, and Contact %>
    <div class='container'>
        <nav>
            <ul>
                <li> Home </li>
                <li> Events </li>
                <li> Meetings </li>
                <li> Contact </li>
            </ul>
    </div>
</header>
