
<% # Check if the current user is the ADMIN or owner of profile %>
<% if current_user.email == @member.email  || current_user.uid == "110391296899575374577" %>
  <h1>Editing Member</h1>

<% # Rendeting Editing form %>
  <%= render 'form', member: @member %>

  <% # Rendering buttons to cancel changes %>
  <div class="container", style="margin-left: 12em;">
    <%= link_to '<button type="button"> Back </button>'.html_safe, @member %>
  </div>
<% else %>
<% # If the user is not an ADMIN, or the profile owner, user %>
<% # gets redirected %>
  <center>
  <h1>Not your account!</h1>
  <%= link_to 'Back', members_path %>
  </center>
<% end %>
