<center>
  <h1>New Member</h1>

  <% # Rendering profile form %>
  <%= render 'form', member: @member %>

  <% # Button to cancel creation of new profile %>
  <%= link_to 'Back', members_path %>
</center>
